{% if wesher_cluster_key is defined %}
WESHER_CLUSTER_KEY={{ wesher_cluster_key }}
{% endif %}
{% if wesher_join is defined %}
WESHER_JOIN={{ wesher_join }}
{% endif %}
{% if wesher_init is defined %}
WESHER_INIT={{ wesher_init }}
{% endif %}
{% if wesher_bind_addr is defined %}
WESHER_BIND_ADDR={{ wesher_bind_addr }}
{% endif %}
{% if wesher_bind_iface is defined %}
WESHER_BIND_IFACE={{ wesher_bind_iface }}
{% endif %}
{% if wesher_cluster_port is defined %}
WESHER_CLUSTER_PORT={{ wesher_cluster_port }}
{% endif %}
{% if wesher_wireguard_port is defined %}
WESHER_WIREGUARD_PORT={{ wesher_wireguard_port }}
{% endif %}
{% if wesher_overlay_net is defined %}
WESHER_OVERLAY_NET={{ wesher_overlay_net }}
{% endif %}
{% if wesher_interface is defined %}
WESHER_INTERFACE={{ wesher_interface }}
{% endif %}
{% if wesher_no_etc_hosts is defined %}
WESHER_NO_ETC_HOSTS={{ wesher_no_etc_hosts }}
{% endif %}
{% if wesher_log_level is defined %}
WESHER_LOG_LEVEL={{ wesher_log_level }}
{% endif %}
